@{
    ViewData["Title"] = "Problems";
}
@model Reports.WebApp.Models.Problems.CreateProblemModel
<h3>Create new problem</h3>
<div class="row">
    <div class="col-md-8">
        <partial name="_CreateForm"/>
    </div>
</div>